.converter__content {
    display: flex;
    padding-bottom: 10px;
}


.input {
    width: 400px;
    padding: 10px 0px 10px 0px;
}

.output {
    width: 400px;
    padding: 10px 0px 10px 20px;
    border-left: 4px solid #ffbd08;
    background: #ffe7a6;
}


.error {
    color: #c91b00;
}

.button {
    background:#ffbd08;
    color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: none;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}